option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:process:default:
      DeregistrationDelay: '20'
      HealthCheckInterval: '15'
      HealthCheckPath: /
      HealthCheckTimeout: '5'
      HealthyThresholdCount: '3'
      UnhealthyThresholdCount: '5'
      MatcherHTTPCode: null
      Port: '8080'
      Protocol: HTTP
      StickinessEnabled: 'false'

  # aws:elbv2:listener:80:
  #    ListenerEnabled: 'true'
  #    Protocol: HTTP
  #    Rules: flask
  # aws:elbv2:listenerrule:flask:
  #    PathPatterns: /flask/*
  #    Priority: 1
